.header {
    text-align: center;
    padding: 1rem 0;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.results {
    margin: 1rem 0;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-group .row {
    width: inherit;
}

.next-button {
    margin-left: 3rem;
}

img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
  }